/*Global*/

.poppins-thin {
  font-family: 'Poppins', serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', serif;
  font-weight: 900;
  font-style: italic;
}

h1{
  font-size: 40px;
}

body {
  background: linear-gradient(
    90deg,
    rgba(249, 178, 72, 0.35) 0%,
    rgba(255, 160, 220, 0.35) 100%
  );
}

.bottomContainer{
  margin-bottom: 120px;
  margin-top: -128px!important;
}

.header {
  margin-bottom: 40px!important;
  text-align: center;
  width: fit-content !important;
}

.col-lg-8 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.centerText {
  text-align: center;
}

.rowPushDownSm {
  margin-bottom: 64px !important;
}

.rowPushDownLg {
  margin-bottom: 200px !important;
}

.companies-row {
  margin-top: 40px !important;
  margin-bottom: 200px !important;
}
.header-margin {
  margin-bottom: 40px !important;
}

.pop{
  color: #ffa0dc;
  font-weight: 600
  ;
}

.justify {
  justify-content: center !important;
}

.h1 {
  font-family: 'Poppins', serif;
  font-size: 80px !important;
  margin-bottom: 8px !important;
}

ul{
  padding: 0px!important;
}

p {
  font-family: 'Poppins', serif;
  font-size: 16px;
  line-height: 30px;
  color: #5f6870;
}

.partyPatternLeft {
  width: 200px !important;
}

.partyPatternRight {
  width: 200px !important;
}

.h3 {
  font-weight: 300 !important;
  font-family: 'Poppins', serif !important;
  font-size: 24px !important;
}

.h2 {
  font-family: 'Poppins', serif !important;
  font-size: 40px;
}

.sectionimage{
  width: -webkit-fill-available;
  height: auto;
}

/*Top Navigation*/

.bg-body-tertiary {
  --bs-bg-opacity: 0% !important;
  margin-bottom: 40px;
  box-shadow: 0px 1px 6px 2px rgba(37, 39, 91, 0.1);
  padding: 40px 64px 40px 64px!important;

}

.navLogo:hover{
  animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}



.navbar-expand-sm .navbar-nav {
  margin-left: auto;
}

.navbar-nav {
  gap: 16px;
  align-items: center;
}

.nav-link {
  font-family: 'Poppins', serif;
  font-weight: 300;
  color: black;
}

body{
  height: 100vh;
}

.collapse:not(.show){
  display: block!important;
}

.social {
  width: 24px;
  height: 24px;
}



/*Buttons*/

.btn-primary {
  background-color: #a591ef !important;
  border: none !important;
  font-family: 'Poppins' !important;
  font-weight: 500 !important;
  width: auto !important;
  padding: 16px !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08) !important;
}

.btn-primary:hover{
  background-color: #8A70ED!important;
}

.fullwidth {
  width: 100% !important;
}

/*Hero Container*/

.overlay {
  background-color: black;
  opacity: 50%;
}

.imageFill {
  width: -webkit-fill-available;
}

.heroRow {
  margin-bottom: 128px;
}

.heroHeader {
  font-size: 72px;
  line-height: 88px;
}

.service-cards{
  /* gap: 64px!important; */
  padding: 64px!important;
}

.subtext{
  font-size: 24px;
  color:#4E5963;
  font-weight: 500!important;
  font-style: italic;
}


.textDown{
  margin-bottom: 16px!important;
}

.subtextParagraph{
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  margin-bottom: 40px;
}

/*Ticker*/

.companyImage {
  width: auto;
  height: 100px;
  margin-left: 64px;
  margin-right: 64px;
}

.ticker {
  align-items: center !important;
}

/*Services*/

.servicesHeader {
  text-align: center;
}

.card {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08) !important;
  border: none !important;
  padding: 16px;
  border-style: solid!important;
  border-color: #ffa0dc!important;
  border-width: 1px!important;
}

.card-body {
  border-radius: 12px;
}

.center{
  margin-bottom: 40px;
}



.card-title,
.card-text {
  text-align: center !important;
}

.serviceHero {
  background-image: url(./assets/jerod.jpg);
}

.givespace{
  padding: 64px!important;
  margin-bottom: 128px;
  background-color: #FBD190;
}

.givespace2{
  padding: 64px!important;
  margin-bottom: 128px;
  text-align: center;
}

.jerodimage {
  background-image: url('./assets/jerod.jpg');
  min-width: 100%;
  aspect-ratio: 8 / 3;
  border-radius: 6px;
  background-position: center 32.5%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08) !important;
}

/*Instagram Feed*/

.eapps-instagram-feed-header {
  border-radius: 6px;
}

/*Footer*/

.footer {
  padding: 64px;
  background-color: #ffa0dc;

  a {
    color: #eee;
  }
}

a.nav-link:hover{
  color:#ffa0dc!important;
}

.email {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black!important;
}

.email:hover{
  color: #ffa0dc;
}

.centerfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 16px;
}

.textmarker-effect {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.textmarker-effect:before {
  position: absolute;
  z-index: -1;
  content: '';
  background: #ffa0dc;
  height: 16px;
  left: 0;
  bottom: 0px;
  width: 100%;
  opacity: 0.7;
}

.backtotop{
  display: none!important;
}

.navbar-collapse{
  background-color: #FFD9F1;
}

.nav-link{
  font-size: 24px!important;
}

.description{
  text-align: center;
  font-size: 18px;
}

.navbar-nav .nav-link:hover{
  color:white!important;
}

.email-text{
  font-size: 18px;
  color: #8A70ED;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .heroRow {
    padding: 0 24px 48px 24px;
  }
}

.copyright{
  font-size: 16px;
  font-family: "Poppins"sans-serif;
  color: white;
}

.root-container {
  padding: 0 64px !important;
}


.hero-subheader {
  margin-bottom: 40px !important;
}
.hero-text {
  margin-bottom: 16px !important;
  font-size: 24px;
  font-weight: 300;
}


.mb-3 {
  margin-bottom: 40px !important;
}

.service-cards {
}
.service-image-row {
  margin-bottom: 96px !important;
}
.card {
  min-height: 300px;
  /* margin: 0 20px 0 20px !important; */
}
.card-image {
  object-fit: cover;
  height: 160px;
  width: 160px;
  max-width: 160px;
  margin-top: -64px;
}

li::marker{
  color: #ffa0dc;
}

.service-card-title {
  font-weight: 600 !important;
  font-family: 'Poppins', serif !important;
  font-size: 40px !important;
  margin-top: 16px !important;
}

.service-card-subtitle {
  color: #ffa0dc !important;
  font-weight: 500 !important;
  font-family: 'Poppins', serif !important;
  font-size: 24px !important;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  text-align: center;
  font-style: italic;
  
}

.service-card-list {
  font-family: 'Poppins', serif !important;
  font-size: 16px !important;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 75px;
  gap: 8px;
}

.feed-row {
  margin-top: 200px !important;
}

.instagram-media {
  width: 100% !important;
  max-width: 100% !important;
}
/*About Us*/

.aboutUs {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 765px) {
.card{
  margin-bottom: 128px!important;
}
}

.aboutImage{
max-width: 500px;
}


@media (max-width: 900px){
  .root-container{
    padding: 0px!important;
  }

  .row{
    margin-left:auto!important;
    margin-right: auto !important;
  }

  /* .card{
    margin-top: 128px!important;
  } */
  

  .feed-row{
    margin-bottom: 40px;
  }

  h1{
    font-size: 32px!important;
  }

  .hero-svg{
    display: none!important;
  }

  .hero-btn {
    margin-bottom: 64px;
    }

    .companies-row{
      margin-bottom: 128px!important;
    }

    .heroHeader {
      font-size: 64px!important;
      font-weight: 600;
      line-height: 68px;
    }

    .subtext{
      /* font-weight: 400!important; */
      font-size: 18px!important;
    }

    .subtextParagraph{
      font-size: 16px;
      color: #000000;
      font-weight: 300;
      margin-bottom: 16px;
    }

    

    h2{

      font-size: 32px!important;

    }

    .companyImage{
      height: 75px!important;
      margin-left: 32px;
      margin-right: 32px;
    }

    .textmarker-effect{
      width: 75%!important;
    }

.service-cards{
  gap: 64px!important;
  padding: 16px!important;
}

/* .last{
    margin-bottom: -128px!important;
  } */
  .bottomContainer{
    margin-top: -128px!important;
  }

  .rowPushDownLg{
    margin-bottom: 0px!important;
  }

  .footer{
    padding: 16px!important;
    gap: 40px;
  }

  .backtotop{
    border-radius: 50%!important;
    background: #8A70ED!important;
    width: 64px!important;
    height: 64px!important;
    position: fixed;
    right: 16px;
    bottom: 16px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08) !important;
  }

  .navbar{
    padding-left: 16px!important;
    padding-right: 16px!important;
  }

  .navbar-collapse{
    padding: 16px;
  }

a.fullwidth{
    margin-bottom: 40px!important;
  }

  .imageFill {
    width: -webkit-fill-available;
    height: auto;

  }
  

  .heroHeader2{
    font-size: 48px;
  }


.aboutustext{
  margin-bottom: 128px;
}

#herobutton{
  width: 100%!important;
}

.backtotop{
  display: block!important;
}

.service-image-row {
  margin-bottom: 36px !important;
}

.offcanvas{
  width: 300px!important;
}

.vr{
  display: none!important;
}


.flex{
  display: flex;
  align-items: flex-start;
}

.aboutImage{
 width: 100%;
 margin-bottom: 40px;
  }

  .subtextParagraph{
    font-family: 'Poppins', serif;
    font-size: 16px;
    line-height: 30px;
    color: #5f6870;
    font-weight: 400;
  }

  li{
    font-size: 18px;
  }

  .align-items-center{
    margin-top: 64px!important;
    gap: 128px!important;
  }

  .givespace{
    padding: 28px!important;
    margin-bottom: 0px!important;
  }

  .givespace2{
    padding: 16px!important;
    margin-bottom: 64px!important;
    text-align: center;
  }

  .center{
    text-align: center;
  }

  .pink{
    color: #ffa0dc;
  }


  
.sectionimage{
  display: none!important;
}

  

  



}








